<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="mainTest" class="com.spring.MainTest">
    </bean>
    
    
    <bean id="square" class="constructorInjection.Square">
        <constructor-arg>
        <value>4</value>
        </constructor-arg>
    </bean>
    
    <bean id="rectangle" class="constructorInjection.Rectangle">
     <constructor-arg>
     
        <value>10</value>
        </constructor-arg>
        
        <constructor-arg>
        <value>5</value>
        </constructor-arg>
    </bean> 
    
    
     <bean id="square1" class="setterInjection.Square1">
        <property name="side1">
        <value>6</value>
        </property>
    </bean>
    
    <bean id="rectangle1" class="setterInjection.Rectangle1">
     <property name="length1">
        <value>11</value>
        </property>
        
       <property name="breadth1">
        <value>8
        
        </value>
        </property>
    </bean> 
   

</beans>
